html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

* {
  box-sizing: border-box; }

main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  main::after {
    clear: both;
    content: "";
    display: table; }

.calculator {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin: 10px 10px; }
  .calculator:last-child {
    margin-right: 0; }

.row #total {
  border-top: 5px solid #565752;
  width: 75%;
  margin-right: 0; }

#clear {
  border-left: 5px solid #565752;
  border-top: 5px solid #565752; }

input {
  height: 100px;
  background: #A79C8C;
  opacity: .9;
  width: 25%;
  border: none;
  border-right: 5px solid #565752;
  border-bottom: 5px solid #565752;
  float: left;
  outline: none;
  border-top: none;
  border-left: none; }

#seven, #four, #one, #zero {
  border-left: 5px solid #565752; }
